<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="tile is-ancestor">
    <div class="tile is-6 is-vertical is-parent">
      <div class="tile is-child notification">
        <app-choice-picker></app-choice-picker>
      </div>
      <div class="tile is-child notification">
        <p class="title">TBD</p>
      </div>
    </div>
    <div class="tile is-parent">
      <div class="tile is-child notification">
        <p class="title">TBD</p>
      </div>
    </div>
  </div>
</div>
